<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>DAM</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Albums list</h1>
<table class="table table-striped">
     <tr>
      	<th scope="col">Name</th>
     	<th scope="col">Genre</th>
     	<th scope="col">Release (year)</th>
    </tr>
    <tr th:each="album : ${album}">
        <td scope="row" th:text="${album.name}"></td>
        <td scope="row" th:text="${album.genre}"></td>
        <td scope="row" th:text="${album.release}"></td>
        <td class="actions"><a th:href="@{/album/edit/{id}(id=${album.id})}" class="btn btn-primary">Edit</a>   						
							<a th:href="@{/album/delete/{id}(id=${album.id})}" class="btn btn-danger">Delete</a>   						
							</td>
	</tr>    
</table>

<a th:href="@{/album/new}" class="btn btn-success">Add new</a>   
<div th:replace="fragments/footer :: footer"></div>
<br/>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>